.navbar {
    background-color: lightslategray;
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 8px 5px 8px 5px;
}

.navbar a {
    text-decoration: none;
    color: inherit;
}

.navbar-brand {
    font-size: 1.2em;
    font-weight: 600;
}

.navbar-item {
    font-variant: small-caps;
    margin-left: 30px;
}

.body-content {
    padding: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
footer {
    text-align: center;
    font-size: 0.9em;
    color: black;
    padding: 10px;
    background-color: lightslategray;
}

.login-form {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    
}
.clinic-login-h {
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
}
.total-patients {
    background-color: #f2f2f2;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    max-width: fit-content;
}
.patients-appointments {
    margin-top: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 2px solid black;
    border-radius: 5px;
}
input {
    padding: 8px;
    margin: 10px 0;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: block;
}